
header img {
/*    display: block;*/
    max-width: 100%;

}

.header {
    background-image: url("../img/bg.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}


h2 {
    
}

.brand {
    text-align: center;
}

h2 {
    padding: 20px 0;
}
.header-img {
    font-size: 54px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: 1px solid #fff;
   position: absolute;
    bottom: 89px;
    left: 134px;
    padding: 20px;
    font-family: sans-serif;
    
}
.header-img span {
    color:  #f1ad1d;
}

.our-services__img div {
    float: left;
    margin: 10px;
}
.our-services__img {
    width: 50%;
    
}
